.slider-container {
    padding-top: 100px;
    padding-bottom: 200px;
    position: relative;

    &:after {
        content: "";
        display: block;
        width: 500px;
        border: 1px solid #eee;
        position: absolute;
        bottom: 0;
        margin-left: 68px;
    }
}

.slider-heading * {
    display: inline-block;
}

.slider-track {
    background-color: silver;
    height: 20px;
    border-radius: 20px;
    box-shadow: inset 1px 1px 2px #57575780;
}

.slider-thumb {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    background-color: white;
    box-shadow: .5px .5px 1px #57575780;
    transform: translateY(-5px);
}

.value-now {
    background: #eee;
    border-radius: 5px;
    padding: 5px 10px;
    top: 40px;
    position: absolute;
    font-size: 24px;
    box-shadow: 9px -11px 16px -17px rgba(0, 0, 0, 0.75);
}

.mark {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #eee;
    background-color: white;
    box-shadow: inset .5px .5px 1px #57575780;
    transform: translateY(-5px);
}

.prices {
    border: 1px solid #eee;
    padding: 10px;
    width: 50%;
    margin: auto;

    h1 {
        background-color: #eee;
        display: flex;
        padding: 5px 10px;

        &:last-child {
            margin-bottom: 0;
        }

        strong {
            margin-left: auto;
        }
    }
}