// Override default variables before the import

$primary: rgb(255, 88, 0);
$font-family-base: "Segoe UI Light", "Helvetica Neue", "arial", "sans-serif";
$btn-hover-bg-shade-amount: 0;
$btn-active-bg-shade-amount: 0;
$btn-hover-bg-shade-amount: 0;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.5;
$navbar-padding-y: 0;
$transition-collapse: height 1s ease;
$transition-collapse-width: width 1s ease;


@import '~bootstrap/scss/bootstrap';

@import './scss/index';